<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

	<head>
	    <title>Login</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div th:replace="fragments/header :: header"/>
		<div class="container" style="margin-top: 60px;">
		    <form th:action="@{/login}" method="POST" class="form-signin">
				<h2>Enter your credentials</h2> </br>
		        <input type="text" id="email" name="email" th:placeholder="Email"
		               class="form-control"/> <br/>
		        <input type="password" th:placeholder="Password"
		               id="password" name="password" class="form-control"/>
		        <div align="center" th:if="${param.error}">
		            <p style="font-size: 30; color: #FF1C19;">Invalid email or password</p>
		        </div>
		        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
		                th:text="Login"></button> </br>
				<div align="center">
		            <a style="font-size: 30; text-decoration: underline;" href="#" th:href="@{/signup}">Sign up</a>
		        </div> </br>
				<div align="center" th:if="${param.logout}">
		            <p style="font-size: 30; text-decoration: underline;">Logout successful</p>
		        </div>
				
		    </form>
		</div>
		<div th:replace="fragments/footer::footer"/>		
		
	</body>
</html>