<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

	<head>
	    <title>Home</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div th:replace="fragments/header :: header"/>
		<div class="container">
			<div id="content-wrap">
   				</br> </br>
				<div align="center" th:if="${username} != null">
					<h3> Welcome, <span th:utext="${username}"></span>! </h3>  	
				</div>
				<div align="center" th:if="${username} == null">
					<h3> Welcome! Please sign in to continue </h3>   	
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"/>
	</body>
</html>