<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>List of registered users</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div th:replace="fragments/header :: header"/>
		<div class="container">
			<div class="content-wrapper">
			  <h3>Users</h3>
			  <hr/>
		      <form class="form-horizontal" role="form" th:action="@{users/update}" th:object="${users}" method="POST">
		        <table class="table table-bordered table-striped" id="userList">
		          <thead>
		            <tr>
		              <th>Id</th>
		              <th>Email</th>
		              <th>Name</th>
		           	  <th>Last name</th>
		              <th>Active</th>
		            </tr>
		          </thead>
		          <tbody>
		            <tr th:each="user,i : *{userList}" th:class="${user.active}? active : warning">
		              <input type="hidden" th:field="*{userList[__${i.index}__].id}" />
		              <td th:text="${user.id}">User_id</td>
		              <input type="hidden" th:field="*{userList[__${i.index}__].email}" />
		              <td th:utext="${user.email}">User_email</td>
		              <input type="hidden" th:field="*{userList[__${i.index}__].name}" />
		              <td th:utext="${user.name}">User_name</td>
		              <input type="hidden" th:field="*{userList[__${i.index}__].lastName}" />	              
		              <td th:utext="${user.lastName}">User_lastName</td>
		              <td><input type="checkbox" th:checked="${user.active}"
		                  th:field="*{userList[__${i.index}__].active}" /></td>	                  
		            </tr>
		          </tbody>
		        </table>
		        <!-- Update Button -->
		        <button type="submit" class="btn btn-primary">Update</button>
		      </form>
		    </div>
		  </div>		
	    <div th:replace="fragments/footer::footer"/>		
	</body>
</html>